.but1 {
    background-color: #7C4EE4;
    color: white;
    border: none;
    padding: 8px 20px;
}

@media only screen and (max-width: 990px) {
    .but1 {
        padding: 6px 15px;
        font-size: 14px;
    }

    .example {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        gap: 15px !important;
    }

    .example ul {
        width: 100%;
        flex-direction: column !important;
        gap: 10px !important;
    }

    .example ul li {
        width: 100%;
    }

    .example .but1 {
        width: 100%;
        text-align: center;
    }
}

.hero1 {
    background-color: #7C4EE4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

.ch1 h6 {
    color: white;
    font-size: 14px;
}

.ch1 {
    margin-right: 100px;
}

.ch1 button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 8px;

}

.hero1 h1 {
    color: white;
    font-size: 3rem;
}

.hero1 p {
    color: white;
    font-size: 12px;
    width: 350px;
    text-align: justify;
    padding-top: 20px;



}

@media only screen and (max-width: 990px) {
    .hero1 {
        flex-direction: column;
        text-align: left;
        padding: 50px 20px;
    }

    .ch1 {
        margin: 0;
        order: 1;
    }

    .hero1 {
        padding: 50px 20px;
    }

    .ch1 h6 {
        margin-top: 30px;
    }

    .ch2 {
        order: 2;
    }

    .hero1 h1 {
        font-size: 2rem;
    }

    .hero1 p {
        width: 100%;
        font-size: 14px;
        text-align: left;

    }

    .ch1 button {
        margin-bottom: 20px;
    }
}

.sec1 {
    position: relative;


}

.sc1 img {
    width: 90%;
    display: block;
    margin: 50px auto;
}

.sc2 {

    background-color: white;
    padding: 50px 20px;
    position: absolute;
    width: 800px;
    right: 0;
    top: 300px;
    border-radius: 10px;
}

.sc2 button {
    background-color: white;
    color: #7C4EE4;
    border: none;
    border: 1px solid #7C4EE4;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 20px;
}

.sc2 p {
    text-align: justify;
    font-size: 12px;
    color: rgb(65, 63, 63);
}

.sc2 h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.sp1 {
    font-weight: 700;

}

.sp2 {

    color: rgb(68, 63, 63);
    font-size: 14px;
}

@media only screen and (max-width: 990px) {
    .sc2 {
        position: static;
        width: 100%;
        margin-top: -50px;
        padding: 20px 40px;
    }

    .sc2 h2 {
        font-size: 1.2rem;
    }
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px 80px 20px;
}

.post1{
    font-size: 1.5rem;
    font-weight: 700;
}
.post2 button{
    background-color: #7C4EE4;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
}

